<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" rel="stylesheet">
    <title>BudayaKB Lite</title>
</head>

<body>
    <div class="container is-fullhd">
        <section class="section">
            <div class="container">
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="/">
                            <img src="https://acakadul.files.wordpress.com/2013/08/makara-ui-fasilkom.png" width="25"
                                height="25">
                        </a>

                        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                            data-target="navbarBasicExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>

                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-start">
                            <a href="/" class="navbar-item is-hoverable">
                                Home
                            </a>

                            <a href="{{ url_for('search') }}" class="navbar-item is-hoverable">
                                Cari Budaya
                            </a>

                            {% if get_current_user() != None %}
                            <a href="{{ url_for('add') }}" class="navbar-item is-hoverable">
                                Tambah Budaya
                            </a>
                            {% endif %}

                            <div class="navbar-item has-dropdown is-hoverable">
                                <a href="" class="navbar-link">
                                    Statistik
                                </a>
                                <div class="navbar-dropdown">
                                    <a class="navbar-item" href="{{ url_for('statistics', name="type") }}">
                                        Bdsk. Tipe
                                    </a>
                                    <a class="navbar-item" href="{{ url_for('statistics', name="province") }}">
                                        Bdsk. Daerah
                                    </a>
                                </div>
                            </div>

                        </div>

                        <div class="navbar-end">
                            <div class="navbar-item is-hoverable has-dropdown">
                                {% if get_current_user() == None %}
                                <div class="buttons">
                                    <a onclick="window.open('https://sso.ui.ac.id/cas2/login?service={{ request.host_url }}login', 'newwindow', 'width=500, height=450'); return false;"
                                        class="button is-primary">
                                        <strong>Log in</strong>
                                    </a>
                                </div>
                                {% endif %}
                                {% if get_current_user() != None %}
                                <div class="navbar-item has-dropdown is-hoverable">
                                    <a class="navbar-link">
                                        <b>Hello</b>, {{get_current_user()}}
                                    </a>
                                    <div class="navbar-dropdown">
                                        <a href="{{ url_for('logout') }}" class="navbar-item">
                                            Log Out
                                        </a>
                                    </div>
                                </div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>

        <section class="section">
            {% block content %}{% endblock %}

        </section>

        <footer class="footer is-fluid">
            <div class="content has-text-centered">
                <p>
                    <b>BudayaKB v2.0.0</b> by <a href="https://www.github.com/samuelmjn">Samuel Mulatua</a>
                </p>
            </div>
        </footer>
    </div>
</body>
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bulmajs@0.0.2/dist/bulmajs.min.js"></script>

</html>