{% extends '_includes/navbar.html' %}
{% block content %}

{% if get_flashed_messages()|length != 0 %}
<div class="notification is-warning">
    <button class="delete"></button>
    {{get_flashed_messages()[0]}}
</div>
{% endif %}

<article class="panel is-primary">
    <p class="panel-heading">
        {% if page_type == "edit" %}
        Edit Budaya
        {% endif %}

        {% if page_type == "add" %}
        Tambah Budaya
        {% endif %}

    </p>

    <div class="panel-block">
        <div class="container is-fluid" style="margin: 0.5em">
            <div class="columns is-desktop">
                <div class="column">
                    <form action="" method="POST">
                        <div class="field">
                            <label class="label">Nama Budaya</label>
                            <div class="control">
                                <input class="input" id="name" name="name" type="text"
                                    value="{{obj.name if obj is defined}}" placeholder="Masukan nama budaya" {% if page_type == "edit" %} readonly {% endif %}>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Tipe</label>
                            <div class="control">
                                <input class="input" id="type" name="type" type="text"
                                    value="{{obj.type if obj is defined}}" placeholder="Pilih tipe budaya">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Provinsi</label>
                            <div class="control">
                                <input class="input" id="province" name="province" type="text"
                                    value="{{obj.province if obj is defined}}" placeholder="Masukan asal budaya">
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">URL Referensi</label>
                            <div class="control">
                                <input class="input" id="url" name="url" type="text"
                                    value="{{obj.url if obj is defined}}" placeholder="Masukan URL referensi">
                            </div>
                        </div>

                        <div class="field is-grouped" style="padding-top:1em;">
                            <div class="control">
                                <button class="button is-link">Submit</button>
                            </div>
                            <div class="control">
                                <button class="button is-link is-light"><a href="/">Cancel</a></button>
                            </div>
                        </div>

                    </form>

                </div>

                {% if page_type == "add" %}
                <div class="column">
                    <strong>or upload your file</strong>
                    <form action="/import" method="POST" enctype="multipart/form-data">
                        <div id="imported-file" class="file has-name is-fullwidth">
                            <label class="file-label">
                                <input class="file-input" type="file" name="imported_file">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose a file…
                                    </span>
                                </span>
                                <span class="file-name">
                                    No file uploaded
                                </span>
                            </label>
                            <div class="control" style="padding-left:5px;">
                                <button class="button is-link">Upload</button>
                            </div>
                        </div>
                    </form>
                </div>
                {% endif %}

            </div>
        </div>
    </div>

</article>

<script>
    const fileInput = document.querySelector('#imported-file input[type=file]');
    fileInput.onchange = () => {
        if (fileInput.files.length > 0) {
            const fileName = document.querySelector('#imported-file .file-name');
            fileName.textContent = fileInput.files[0].name;
        }
    }
</script>
{% endblock %}