{% extends '_includes/navbar.html' %}
{% block content %}

{% if get_flashed_messages()|length != 0 %}
<div class="notification is-warning">
    <button class="delete"></button>
    {{get_flashed_messages()[0]}}
</div>
{% endif %}

<article class="panel is-primary">
    <p class="panel-heading">
        Cari Budaya
    </p>

    <div class="panel-block">
        <div class="container">
            <div class="container">
                <form action="" method="GET">
                    <div class="field is-horizontal" style="width: 100%;">
                        <div class="field" style="margin: 1%;">
                            <label class="label">Cari berdasarkan</label>
                            <div class="control">
                                <div class="select">
                                    <select id="filter" name="filter">
                                        <option value="name">Nama</option>
                                        <option value="type">Tipe</option>
                                        <option value="province">Asal provinsi</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field" style="margin: 1%; width:100% ;">
                            <label class="label">Kata kunci</label>
                            <div class="control">
                                <input id="query" name="query" style="width: 100%;" class="input" type="text"
                                    placeholder="Masukan kata kunci pencarian">
                            </div>
                        </div>
                        <div class="field" style="margin: 1%;">
                            <br>
                            <div class="control">
                                <button class="button is-link">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            {% if result is defined %}
            <div class="table-container is-fluid" style="margin: 2em">
                <table class="table is-hoverable" style="width:100%">
                    <thead>
                        <td>Nama</td>
                        <td>Tipe</td>
                        <td>Asal</td>
                        <td>URL</td>
                        <td></td>
                    </thead>

                    <tbody>
                        {% for i in result %}
                        <tr>
                            <td>{{i.name}}</td>
                            <td>{{i.type}}</td>
                            <td>{{i.province}}</td>
                            <td>{{i.url}}</td>
                            <td><a href="/edit/{{i.name}}"><i class="fas fa-pencil-alt"></i></a>
                                <a href="/delete/{{i.name}}"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            {% endif %}

        </div>
    </div>

</article>
{% endblock %}