{% extends '_includes/navbar.html' %}
{% block content %}

{% if get_flashed_messages()|length != 0 %}
<div class="notification is-warning">
    <button class="delete"></button>
    {{get_flashed_messages()[0]}}
</div>
{% endif %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

<article class="panel is-primary">
    <p class="panel-heading">
        Cari Budaya
    </p>

    <div class="panel-block">
        <div class="container">
            <div class="container">
                <form action="" method="GET">
                    <div class="field is-horizontal" style="width: 100%;">
                        <div class="field" style="margin: 1%;">
                            <label class="label">Cari berdasarkan</label>
                            <div class="control">
                                <div class="select">
                                    <select id="filter" name="filter">
                                        <option value="name">Nama</option>
                                        <option value="type">Tipe</option>
                                        <option value="province">Asal provinsi</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="field" style="margin: 1%; width:100% ;">
                            <label class="label">Kata kunci</label>
                            <div class="control">
                                <input id="query" name="query" style="width: 100%;" class="input" type="text"
                                    placeholder="Masukan kata kunci pencarian">
                            </div>
                        </div>
                        <div class="field" style="margin: 1%;">
                            <br>
                            <div class="control">
                                <button class="button is-link">Cari</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            {% if result is defined %}
            <div class="table-container is-fluid" style="margin: 2em">
                <table id="result-table" class="table is-hoverable"
                    style="width:100%; table-layout: fixed; word-wrap:break-word;">
                    <thead>
                        <td>Nama</td>
                        <td>Tipe</td>
                        <td>Asal</td>
                        <td>URL</td>
                        {% if get_current_user() != None %}
                        <td style="width:20px"></td>
                        {% endif %}
                    </thead>

                    <tbody>
                        {% for i in result %}
                        <tr>
                            <td>{{i.name}}</td>
                            <td>{{i.type}}</td>
                            <td>{{i.province}}</td>
                            <td><a href="{{i.url}}">{{i.url}}</a></td>
                            {% if get_current_user() != None %}
                            <td style="width:20px"><a href="/edit/{{i.name}}"><i class="fas fa-pencil-alt"></i></a>
                                <a href="/delete/{{i.name}}"><i class="fas fa-trash-alt"></i></a>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            {% endif %}

        </div>
    </div>

</article>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $('#result-table').DataTable({searching: false, responsive: true});
    });
</script>
{% endblock %}